<ion-header>
  <ion-toolbar class="ion-justify-content-between">
    <ion-title>Lista de usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- floating button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUser()"  >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngFor="let user of users">
    <ion-item-sliding>
      <ion-item >
        <ion-avatar slot="start">
          <div class="avatar">
            {{user.nombre.substring(0, 1).toUpperCase()}}
          </div>
        </ion-avatar>
        <ion-label>
          <h3 class="title">{{user.nombre + " " + user.apellido_paterno + " " + user.apellido_materno}}</h3>
          <p class="subtext">{{user.correo}}</p>
          <p class="subtext">{{user.telefono}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteUser(user.id)" >
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success" (click)="updateUser(user)" >
          <ion-icon name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  
  
</ion-content>
